.topic {
    display: flex;
    gap: 30px;
}

.topic img {
    max-width: 160px;
    height: 100%;
    object-fit: cover;
}

.topic-img {
    background-color: #0c1022;
    border-radius: 5px;
}

.topic-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.topic-info button {
    width: 100%;
}

.topic-info h2 {
    margin: 0 0 10px;
    text-align: left;
}