:root {
  --clr-primary: #562EFF;
  --clr-text: #0c1022;
  --clr-bg: #e3e1ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  font-weight: bold;
  text-decoration: none;
}