:root {
  --clr-primary: rgb(255, 80, 10);
  --clr-text: #0c1022;
  --clr-text-primary: #ff2000;
  --clr-bg: rgb(255, 210, 190);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  font-weight: bold;
  text-decoration: none;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: white;
  background-color: var(--clr-primary);
  cursor: pointer;
  transition: .3s;
}

.card {
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%), -5px -5px 10px rgb(255 255 255 / 60%);
  transition: .3s;
  padding: 20px;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 7px 7px 10px rgb(0 0 0 / 50%), -7px -7px 15px rgb(255 255 255 / 80%);
}

.card-large {
  padding: 50px;
  color: var(--clr-text);
  background-color: var(--clr-bg);
  border-radius: 20px;
  margin: 40px auto;
}

.icon {
  color: var(--clr-text-primary);
}