:root {
  --clr-primary: rgba(255, 68, 0, 0.9);
  --clr-text: #0c1022;
  --clr-bg: rgb(255, 210, 190);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.card {
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%), -5px -5px 10px rgb(255 255 255);
  transition: .3s;
  padding: 20px;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 7px 7px 10px rgb(0 0 0 / 50%), -7px -7px 10px rgb(255 255 255);
}

.card-large {
  padding: 50px;
  color: var(--clr-text);
  background-color: var(--clr-bg);
  border-radius: 20px;
  margin: 40px auto;
}

button {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: white;
  background-color: var(--clr-primary);
  cursor: pointer;
  transition: .3s;
}